{% for hermano in hermanos %}
  <tr>
    <td class="text-center">{{ hermano.hermano_nombre }}</td>
    <td class="text-center" >{{ hermano.hermano_ocupacion }}</td>
    <td class="text-center" >{{ hermano.hermano_edad }}</td>
    <td class="text-center" >{{ hermano.hermano_tel }}</td>
    <td class="text-center" >
    <button type="button"
              onclick="edit_hermano({{hermano.id}})"
              class="btn btn-warning btn-sm "
              data-url="">
        <span class="glyphicon glyphicon-pencil"></span> Editar
      </button>
    <button type="button"
              class="btn btn-danger btn-sm btnDelete"
              data-id="{{hermano.id}}"
              data-reg="HERMANO">
      <span class="glyphicon glyphicon-trash"></span> Borrar
    </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No existen hermanos agregados</td>
  </tr>
{% endfor %}