<div class="form-group row">
        <div class="col-lg-4">
          <label>{{ form_referencia.referencia_nombre.label }} </label>
          {{ form_referencia.referencia_nombre }} 
        </div>
        <div class="col-lg-4"><br>
         <label>{{ form_referencia.referencia_domicilio.label }}</label>
         {{ form_referencia.referencia_domicilio }}
        </div>
        <div class="col-lg-4"><br>
         <label>{{ form_referencia.referencia_tel.label }}</label>
         {{ form_referencia.referencia_tel }}
        </div>
</div>

<div class="form-group row">
  <div class="col-lg-4">
    <label>{{ form_referencia.referencia_ocupacion.label }} </label>
    {{ form_referencia.referencia_ocupacion }} 
  </div>
  <div class="col-lg-4">
   <label>{{ form_referencia.referencia_annios_conocer.label }}</label>
   {{ form_referencia.referencia_annios_conocer }}
  </div>
</div>