<table class="table" id="table_ref" >
        <thead class="thead-dark">
          <tr>
            
            <th scope="col" style="text-align: center">Nombre de la referencia</th>
            <th scope="col" style="text-align: center">Ocupación</th>
            <th scope="col" style="text-align: center">Años de conocerlo</th>
            <th scope="col" style="text-align: center">Teléfono</th>
            <th scope="col" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody class="contenido">
            {% include 'candidatos/referencias_lista.html' %}
        </tbody>
    
      </table>