<div class="form-group row">
        <div class="col-lg-5">
          <label>{{ form_candidato.padre_nombre.label }} </label>
          {{ form_candidato.padre_nombre }} 
        </div>
        
        <div class="col-lg-1">
          <label>{{ form_candidato.padre_edad.label }}</label>
          {{ form_candidato.padre_edad }}
         </div>
         <div class="col-lg-3">
          <label>{{ form_candidato.padre_ocupacion.label }} </label>
          {{ form_candidato.padre_ocupacion }} 
        </div>
        <div class="col-lg-2">
          <label>{{ form_candidato.padre_vive.label }}</label>
          {{ form_candidato.padre_vive }}
         </div>
</div>

<div class="form-group row">
  <div class="col-lg-6">
   <label>{{ form_candidato.padre_domicilio.label }}</label>
   {{ form_candidato.padre_domicilio }}
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-5">
    <label>{{ form_candidato.madre_nombre.label }} </label>
    {{ form_candidato.madre_nombre }} 
  </div>
  
  <div class="col-lg-1">
    <label>{{ form_candidato.madre_edad.label }}</label>
    {{ form_candidato.madre_edad }}
   </div>
   <div class="col-lg-3">
    <label>{{ form_candidato.madre_ocupacion.label }} </label>
    {{ form_candidato.madre_ocupacion }} 
    </div>

   <div class="col-lg-2">
    <label>{{ form_candidato.madre_vive.label }}</label>
    {{ form_candidato.madre_vive }}
   </div>
</div>

<div class="form-group row">


<div class="col-lg-6">
<label>{{ form_candidato.madre_domicilio.label }}</label>
{{ form_candidato.madre_domicilio }}
</div>

</div>

<div class="form-group row">
  <div class="col-lg-5">
    <label>{{ form_candidato.conyuge_nombre.label }} </label>
    {{ form_candidato.conyuge_nombre }} 
  </div>
  
  <div class="col-lg-1">
    <label>{{ form_candidato.conyuge_edad.label }}</label>
    {{ form_candidato.conyuge_edad }}
   </div>
   <div class="col-lg-3">
    <label>{{ form_candidato.conyuge_ocupacion.label }} </label>
    {{ form_candidato.conyuge_ocupacion }} 
    </div>

   <div class="col-lg-2">
    <label>{{ form_candidato.conyuge_vive.label }}</label>
    {{ form_candidato.conyuge_vive }}
   </div>
</div>

<div class="form-group row">

<div class="col-lg-6">
<label>{{ form_candidato.conyuge_domicilio.label }}</label>
{{ form_candidato.conyuge_domicilio }}
</div>

</div>
<!--<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.hijos.label }} </label>
    {{ form_candidato.hijos }} 
  </div>
  <div class="col-lg-3">
      <label>{{ form_candidato.hermanos.label }} </label>
      {{ form_candidato.hermanos }} 
  </div>
</div>-->