<div class="form-group row">
    <div class="col-lg-3">
        <label>{{ form_candidato.vivienda_propia.label }}</label>
        {{ form_candidato.vivienda_propia }} 
    </div>
    <div class="col-lg-3">
          <label>{{ form_candidato.credito_infonavit.label }}</label>
          {{ form_candidato.credito_infonavit }} 
    </div>
    <div class="col-lg-3">
         <label>{{ form_candidato.pago_infonavit.label }}</label>
         {{ form_candidato.pago_infonavit }}
    </div>
      
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.auto_propio.label }}</label>
    {{ form_candidato.auto_propio }}
   </div>
  <div class="col-lg-4">
   <label>{{ form_candidato.auto_marca.label }}</label>
   {{ form_candidato.auto_marca }}
  </div>
  <div class="col-lg-4">
   <label>{{ form_candidato.auto_modelo.label }}</label>
   {{ form_candidato.auto_modelo }}
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.seguro_vida.label }}</label>
    {{ form_candidato.seguro_vida }}
   </div>
  <div class="col-lg-3">
   <label>{{ form_candidato.seguro_monto.label }}</label>
   {{ form_candidato.seguro_monto }}
  </div>
 
  
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.afiliado_sindicato.label }}</label>
    {{ form_candidato.afiliado_sindicato }}
   </div>
  <div class="col-lg-4">
   <label>{{ form_candidato.sindicato_nombre.label }}</label>
   {{ form_candidato.sindicato_nombre }}
  </div>
  <div class="col-lg-4">
   <label>{{ form_candidato.sindicato_cargo.label }}</label>
   {{ form_candidato.sindicato_cargo }}
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.tiempo_libre.label }}</label>
    {{ form_candidato.tiempo_libre }}
   </div>
  <div class="col-lg-2">
   <label>{{ form_candidato.embarazo.label }}</label>
   {{ form_candidato.embarazo }}
  </div>
  <div class="col-lg-6">
   <label>{{ form_candidato.religion.label }}</label>
   {{ form_candidato.religion }}
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-4">
    <label>{{ form_candidato.estado_salud.label }}</label>
    {{ form_candidato.estado_salud }}
   </div>
  <div class="col-lg-2">
   <label>{{ form_candidato.fuma.label }}</label>
   {{ form_candidato.fuma }}
  </div>
  <div class="col-lg-2">
   <label>{{ form_candidato.bebe.label }}</label>
   {{ form_candidato.bebe }}
  </div>
  <div class="col-lg-2">
    <label>{{ form_candidato.tatuajes.label }}</label>
    {{ form_candidato.tatuajes }}
   </div>
   <div class="col-lg-2">
    <label>{{ form_candidato.perforaciones.label }}</label>
    {{ form_candidato.perforaciones }}
   </div>
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.disposicion_rolar.label }}</label>
    {{ form_candidato.disposicion_rolar }}
   </div>
  <div class="col-lg-3">
   <label>{{ form_candidato.disposicion_viajar.label }}</label>
   {{ form_candidato.disposicion_viajar }}
  </div>
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.ingreso_extra.label }}</label>
    {{ form_candidato.ingreso_extra }}
   </div>
  <div class="col-lg-2">
   <label>{{ form_candidato.ingreso_monto.label }}</label>
   {{ form_candidato.ingreso_monto }}
  </div>
  <div class="col-lg-6">
    <label>{{ form_candidato.ingreso_fuente.label }}</label>
    {{ form_candidato.ingreso_fuente }}
   </div>
</div>

<div class="form-group row">
  <div class="col-lg-3">
    <label>{{ form_candidato.labora_conocido.label }}</label>
    {{ form_candidato.labora_conocido }}
   </div>
  <div class="col-lg-4"><br>
   <label>{{ form_candidato.conocido_nombre.label }}</label>
   {{ form_candidato.conocido_nombre }}
  </div>
  <div class="col-lg-4"><br>
    <label>{{ form_candidato.conocido_depto.label }}</label>
    {{ form_candidato.conocido_depto }}
   </div>
  
</div>
<div class="form-group row">
    <div class="col-lg-3">
        <label>{{ form_candidato.fecha_disponible.label }}</label>
      <div class="input-group date normal">
       <span class="input-group-addon" style="pointer-events:none"><i class="fa fa-calendar"></i></span>
       {{ form_candidato.fecha_disponible }}
      </div>
     </div>
  
</div>