<!-- NUEVA  EXPERIENCIA -->
<div class="modal fade" id="addExpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" id="mdialTamanio" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">AGREGAR EXPERIENCIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <form class="form-horizontal" id="frm_seccinco_add_exp" method="post" role="form" action="{% url 'col-seccinco' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input id="candId5" name="candId5" type="hidden" value=""> 

                <div class="modal-body ">
                        *Los campos enmarcados en rojo son obligatorios               
                        <div class="form-group row">
                            <div class="col-lg-4">
                              <label>{{ form_experiencia.empresa_nombre.label }} </label>
                              {{ form_experiencia.empresa_nombre }} 
                            </div>
                            <div class="col-lg-4">
                             <label>{{ form_experiencia.empresa_direccion.label }}</label>
                             {{ form_experiencia.empresa_direccion }}
                            </div>
                            <div class="col-lg-4">
                             <label>{{ form_experiencia.empresa_tel.label }}</label>
                             {{ form_experiencia.empresa_tel }}
                            </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_experiencia.empresa_giro.label }} </label>
                        {{ form_editexperiencia.empresa_giro }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_nombre_jefe.label }}</label>
                       {{ form_experiencia.empresa_nombre_jefe }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_jefe_puesto.label }}</label>
                       {{ form_experiencia.empresa_jefe_puesto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>{{ form_experiencia.empresa_fecha_ingreso.label }}</label>
                          <div class="input-group date normal">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           {{ form_experiencia.empresa_fecha_ingreso }}
                          </div>
                         </div>
                      
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_salario_inicio.label }}</label>
                       {{ form_experiencia.empresa_salario_inicio }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_salario_final.label }}</label>
                       {{ form_experiencia.empresa_salario_final }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_experiencia.empresa_puesto_ultimo.label }} </label>
                        {{ form_experiencia.empresa_puesto_ultimo }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_puesto_ultimo_tiempo.label }}</label>
                       {{ form_experiencia.empresa_puesto_ultimo_tiempo }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_puesto_ultimo_depto.label }}</label>
                       {{ form_experiencia.empresa_puesto_ultimo_depto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_experiencia.empresa_puesto_anterior.label }} </label>
                        {{ form_experiencia.empresa_puesto_anterior }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_puesto_anterior_tiempo.label }}</label>
                       {{ form_experiencia.empresa_puesto_anterior_tiempo }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_experiencia.empresa_puesto_anterior_depto.label }}</label>
                       {{ form_experiencia.empresa_puesto_anterior_depto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-2 exp">
                        <label>{{ form_experiencia.experiencia_supervision.label }} </label>
                        {{ form_experiencia.experiencia_supervision }} 
                      </div>
                      <div class="col-lg-2 numexp">
                       <label>{{ form_experiencia.experiencia_supervision_num.label }}</label>
                       {{ form_experiencia.experiencia_supervision_num }}
                      </div>
                      <div class="col-lg-2 exp"><br>
                        <label>{{ form_experiencia.empresa_actual.label }}</label>
                        {{ form_experiencia.empresa_actual }}
                       </div>
                      <div class="col-lg-3" id="div_sp" style="display:none">
                       <label>{{ form_experiencia.separacion_motivo.label }}</label>
                       {{ form_experiencia.separacion_motivo }}
                      </div>
                      <div class="col-lg-3" id="div_fs" style="display:none"><br>
                        <label>{{ form_experiencia.empresa_fecha_separacion.label }}</label>
                      <div class="input-group date normal">
                       <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                       {{ form_experiencia.empresa_fecha_separacion }}
                      </div>
                     </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn_add_experiencia" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of NUEVA EXPERIENCIA modal-->

<!-- EDITAR  EXPERIENCIA -->
<div class="modal fade" id="editExpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" id="mdialTamanio" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">EDITAR EXPERIENCIA</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <form class="form-horizontal" id="frm_seccinco_edit_exp" method="post" role="form" action="{% url 'editcol-experiencia' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input id="exp_id" name="exp_id" type="hidden" value="">                   
                  
                <div class="modal-body ">
                        *Los campos enmarcados en rojo son obligatorios               
                        <div class="form-group row">
                            <div class="col-lg-4">
                              <label>{{ form_editexperiencia.empresa_nombre.label }} </label>
                              {{ form_editexperiencia.empresa_nombre }} 
                            </div>
                            <div class="col-lg-4">
                             <label>{{ form_editexperiencia.empresa_direccion.label }}</label>
                             {{ form_editexperiencia.empresa_direccion }}
                            </div>
                            <div class="col-lg-4">
                             <label>{{ form_editexperiencia.empresa_tel.label }}</label>
                             {{ form_editexperiencia.empresa_tel }}
                            </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_editexperiencia.empresa_giro.label }} </label>
                        {{ form_editexperiencia.empresa_giro }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_nombre_jefe.label }}</label>
                       {{ form_editexperiencia.empresa_nombre_jefe }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_jefe_puesto.label }}</label>
                       {{ form_editexperiencia.empresa_jefe_puesto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-lg-4">
                            <label>{{ form_editexperiencia.empresa_fecha_ingreso.label }}</label>
                          <div class="input-group date normal">
                           <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                           {{ form_editexperiencia.empresa_fecha_ingreso }}
                          </div>
                         </div>
                      
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_salario_inicio.label }}</label>
                       {{ form_editexperiencia.empresa_salario_inicio }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_salario_final.label }}</label>
                       {{ form_editexperiencia.empresa_salario_final }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_editexperiencia.empresa_puesto_ultimo.label }} </label>
                        {{ form_editexperiencia.empresa_puesto_ultimo }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_puesto_ultimo_tiempo.label }}</label>
                       {{ form_editexperiencia.empresa_puesto_ultimo_tiempo }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_puesto_ultimo_depto.label }}</label>
                       {{ form_editexperiencia.empresa_puesto_ultimo_depto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-4">
                        <label>{{ form_editexperiencia.empresa_puesto_anterior.label }} </label>
                        {{ form_editexperiencia.empresa_puesto_anterior }} 
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_puesto_anterior_tiempo.label }}</label>
                       {{ form_editexperiencia.empresa_puesto_anterior_tiempo }}
                      </div>
                      <div class="col-lg-4">
                       <label>{{ form_editexperiencia.empresa_puesto_anterior_depto.label }}</label>
                       {{ form_editexperiencia.empresa_puesto_anterior_depto }}
                      </div>
                    </div>
                    
                    <div class="form-group row">
                      <div class="col-lg-2 exp">
                        <label>{{ form_editexperiencia.experiencia_supervision.label }} </label>
                        {{ form_editexperiencia.experiencia_supervision }} 
                      </div>
                      <div class="col-lg-2 numexp">
                       <label>{{ form_editexperiencia.experiencia_supervision_num.label }}</label>
                       {{ form_editexperiencia.experiencia_supervision_num }}
                      </div>
                      <div class="col-lg-2 exp2"><br>
                        <label>{{ form_experiencia.empresa_actual.label }}</label>
                        {{ form_experiencia.empresa_actual }}
                       </div>
                      <div class="col-lg-4" id="div_sp2" style="display:none"><br>
                       <label>{{ form_editexperiencia.separacion_motivo.label }}</label>
                       {{ form_editexperiencia.separacion_motivo }}
                      </div>
                      <div class="col-lg-4" id="div_fs2" style="display:none"><br>
                        <label>{{ form_editexperiencia.empresa_fecha_separacion.label }}</label>
                      <div class="input-group date normal">
                       <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                       {{ form_editexperiencia.empresa_fecha_separacion }}
                      </div>
                     </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btn_edit_sec5" class="btn btn-primary">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End of EDITAR EXPERIENCIA modal-->