 <table class="table" id="table_exp" >
    <thead class="thead-dark">
      <tr>
        <th scope="col" style="text-align: center">Empresa</th>
        <th scope="col" style="text-align: center">Giro</th>
        <th scope="col" style="text-align: center">Jefe inmediato</th>
        <th scope="col" style="text-align: center">Teléfono</th>
        <th scope="col" style="text-align: center">Acciones</th>
      </tr>
    </thead>
    <tbody class="contenido">
        {% include 'colaboradores/experiencias_lista.html' %}
    </tbody>
  </table>