<button type="button" class="btn btn btn-rounded btn-info"  style="float:left" id="agregar_estudiootro">Agregar otro estudio </button>
<table class="table" id="table_estudiosotros" >
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="text-align: center">Tipo</th>
            <th scope="col" style="text-align: center">Estudio</th>
            <th scope="col" style="text-align: center">Acciones</th>
          </tr>
        </thead>
        <tbody class="contenido">
            {% include 'colaboradores/estudiosotros_lista.html' %}
        </tbody>
      </table>